<div class="container">
<br>
<h1>Editar Sucursal</h1>

<%= render "form", branch: @branch %>
<br>

<div>
  <%= link_to "Ver Esta Sucursal", @branch, class:"btn btn-outline-primary" %>
  <%= link_to "Volver al Listado", branches_path, class:"btn btn-outline-secondary" %>
</div>
</div>
