<div class="container">
<br>
<h1>Editando <%= @user.email %></h1>

<%= render "edit", user: @user %>
<br>

<div>
  <%= link_to "Volver al Listado", users_path, class:"btn btn-outline-secondary" %>
</div>
</div>
