<div id="<%= dom_id schedule %>">
  <p>
    <strong>Start:</strong>
    <%= schedule.start %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= schedule.finish %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= schedule.day %>
  </p>

</div>
