<h1>Editando Horario</h1>

<%= render "form", schedule: @schedule %>

<br>

<div>
  <%= link_to "Ver", @schedule, class:"btn btn-outline-primary"%> 
  <%= link_to "Volver", branches_path, class:"btn btn-outline-secondary"%>
</div>
